.home-page {
    display: flex;
    position: relative;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        font-family: "Helvetica Neue" sans-serif;
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        font-family: "Coolvetica";
        font-weight: 400;
        line-height: 50px;
        margin-bottom: 40px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -25px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            left: -10px;
            bottom: 140px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
        line-height: 16px;
    }

    p {
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;

        #grey {
            color: #8d8d8d;
            font-size: 24px;
            font-weight: 100;
        }
    }


    .piczone {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-family: "Helvetica Neue" sans-serif;
        width: 50%;
        height: 90%;
    }
}

.dp-container {
    display: flex;
    background: linear-gradient(to top right, #7faeec 40%, #384a63);
    height: auto;
    max-width: min(80%, 260px);
    border-radius: 2rem;
    margin-left: 0;

    .my-dp {
        height: 101%;
        width: 101%;
        border-radius: 2rem;
        transform: rotate(8deg);
        transition: 550ms;
    }

    .my-dp:hover {
        transform: rotate(0);
    }
}

@media screen and (max-width: 768px) {
    .home-page {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        position: relative;

        .text-zone {
            position: absolute;
            display: flex;
            justify-content: center;
            flex-direction: column;
            left: 10%;
            font-family: "Helvetica Neue" sans-serif;
            width: 90%;
            max-height: 90%;

            h1 {
                font-size: 7vw;
                line-height: 8vw;
                transform: none;
                font-weight: 200;
                margin-bottom: 10px;    

            }
            p {
                margin-top: 1vw;
                font-size: 4vw;
            }

            h2 {
                font-size: 2vw;
                letter-spacing: 50%;
            }
        }

        .piczone {
            display: flex;
            justify-content: center;
            align-items: center;
            position: initial;
            top: 40%;
            right: 0;
            width: 50%;
            height: inherit;
        }

        .flat-button {
            color: #ffd700;
            font-size: 2vw;
            font-weight: 400;
            letter-spacing: 3px;
            padding: 8px 15px;
            width: fit-content;
            border: 1px solid #ffd700;
            margin-top: 25vw;
            float: none;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
        
            &:hover {
                background: #ffd700;
                color: #333;
            }
        }
    }
}
