.home-page {
    display: flex;
    position: relative;

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        bottom: auto;
        transform: translateY(-50%);
        font-family: sans-serif;
        width: 40%;
        max-height: 90%;
    }

    h1 {
        color: #fff;
        font-size: 53px;
        font-family: "Coolvetica";
        font-weight: 800;
        line-height: 50px;
        margin-bottom: 40px;

        &::before {
            content: "<h1>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            margin-top: -25px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
        }

        &::after {
            content: "</h1>";
            font-family: "La Belle Aurore";
            color: #ffd700;
            font-size: 18px;
            position: absolute;
            left: -10px;
            bottom: 140px;
            animation: fadeIn 1s 1.7s backwards;
            opacity: 0.6;
        }
    }

    h2 {
        color: #8d8d8d;
        margin-top: 20px;
        font-weight: 400;
        font-size: 13px;
        font-family: sans-serif;
        letter-spacing: 3px;
        animation: fadeIn 1s 1.8s backwards;
        line-height: 16px;
    }

    p {
        color: #fff;
        font-size: 20px;
        font-family: sans-serif;

        #grey {
            color: #8d8d8d;
            font-size: 24px;
            font-weight: 100;
        }
    }


    .piczone {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        font-family: "Helvetica Neue" sans-serif;
        right: 10%;
        top: 12vw;
        width: 40%;
        max-height: 90%;
    }

    .dp-container {
        display: flex;
        background: linear-gradient(to top right, #7faeec 40%, #384a63);
        height: auto;
        max-width: min(80%, 250px);
        border-radius: 2rem;
        margin-left: 0;
    
        .my-dp {
            height: 101%;
            width: 101%;
            border-radius: 2rem;
            transform: rotate(8deg);
            transition: 550ms;
        }
    
        .my-dp:hover {
            transform: rotate(0);
        }
    }
}



@media screen and (max-width: 768px) {
    .home-page {
        box-sizing: border-box;
        position: relative;
        display: flex;
        flex-direction: column;
        margin-top: 20%;

        .text-zone {
            position: relative;
            display: flex;
            justify-content: center;
            flex-direction: column;
            left: 10%;
            top: 20vw;
            width: 90%;
            height: auto;
            max-height: 90%;

            h1 {
                font-size: 8vw;
                line-height: 10vw;
                transform: none;
                font-weight: 200;
                margin-bottom: 10px;    

            }
            p {
                margin-top: 1vw;
                font-size: 4vw;
                margin-bottom: 1vw;
            }

            h2 {
                font-size: 2vw;
                letter-spacing: 50%;
                margin-top: 5px;
            }
        }

        .piczone {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 5vh;
            left: 0;
            right: auto;
            width: 100%;
            height: auto;

            .dp-container {
                height: auto;
                max-width: min(65%, 200px);
                border-radius: 2rem;
                margin-left: 0;
            
                .my-dp {
                    height: 101%;
                    width: 101%;
                    border-radius: 2rem;
                    transform: rotate(8deg);
                    transition: 550ms;
                }
            
                .my-dp:hover {
                    transform: none;
                }
            }
        }

        .flat-button {
            color: #ffd700;
            font-size: 2vw;
            font-weight: 400;
            letter-spacing: 3px;
            padding: 8px 15px;
            width: fit-content;
            border: 1px solid #ffd700;
            margin-top: 2vw;
            float: none;
            animation: fadeIn 1s 1.8s backwards;
            white-space: nowrap;
        
            &:hover {
                background: #ffd700;
                color: #333;
            }
        }
    }
}
