.contact-page {
    margin-top: -10%;
    .text-zone {
        top: 20%;
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    p {
        font-size: 14px;
        color: #ffffffd8;
        font-family: sans-serif;
        font-weight: 100;
        animation: pulse 1s;
        width: 100%;
        min-width: fit-content;
    }

    ul {
        width: 100%;
        height: fit-content;
        display: flex;
        padding: 15px;
        list-style: none;
        text-align: center;
        margin: 0;
        margin-left: -5%;

        li {
            height: fit-content;
            a {
                padding: 7px 20px;
                display: block;
                font-size: 15px;
                line-height: 16px;
                color: #4d4d4e;

                img{
                    &:hover {
                        height: auto;
                        width: 120%;
                        margin-top: -10%;
                        margin-left: -10%;
                    }
                }
                img.github{
                    background-color: #fff;
                    border-radius: 50%;
                }
            }

            &:hover {
                .anchor-icon {
                    color: #7DF9FF;
                }
            }
        }
    }
}


@media screen and (max-width: 768px) {
    .contact-page {
        display: flex;
        flex-direction: column;

        .text-zone {
            width: 80%;
            height: auto;
            margin-left: 10%;
            margin-right: 10%;
            transform: none;
        }
    }

    
}